<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatórios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <h2>Relatório Diário</h2>
      <p>{{ relatorioDiario }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Relatório Mensal</h2>
      <p>{{ relatorioMensal }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2>Relatório Detalhado</h2>
      <p>{{ relatorioDetalhado }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>


  <!-- <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
